{% extends "base.html" %}

{% block title %}Professor Jiseon Yang - Publications{% endblock %}

{% block content %}
<div class="publications-container">
    <h1>Publications</h1>

    <section class="year-section">
        <h2>2024</h2>
        <div class="publication-list">
            <div class="publication-item">
                <div class="authors">
                    Nickerson CA, McLean RJC, Barrila J, <span class="author-highlight">Yang J</span>, Thornhill S, Banken L, Porterfield DM, Poste G, Pellis N, Mark Ott C.
                </div>
                <div class="title">
                    Microbiology of Human Spaceflight: Microbial Responses to Mechanical Forces that Impact Health and Habitat Sustainability
                </div>
                <div class="journal">
                    Microbio Mol Biol Rev. Aug 19:e0014423
                </div>
                <div class="metadata">
                    DOI: 10.1128/mmbr.00144-23 | Impact Factor: 12.9
                </div>
            </div>

            <div class="publication-item">
                <div class="authors">
                    <span class="author-highlight">Yang J</span>†, Barrila J, Nauman EA, Nydam SD, Yang S, Jin Park, Gutierrez-Jensen AD, Castro CL, Mark Ott C, Buss K, Steel J, Zakrajsek AD, Schuff MM, Nickerson CA†
                </div>
                <div class="title">
                    Incremental increases in physiological fluid shear progressively alter pathogenic phenotypes and gene expression in multidrug resistant Salmonella
                </div>
                <div class="journal">
                    Gut Microbes
                </div>
                <div class="metadata">
                    DOI: 10.1080/19490976.2024.2357767 | †Corresponding author | Impact Factor: 12.2
                </div>
            </div>

            <div class="publication-item">
                <div class="authors">
                    Koroli S, Buss K, Blain JM, Nakka GS, Hong M, McLean RJ, Plugge CM, <span class="author-highlight">Yang J</span>†
                </div>
                <div class="title">
                    Draft genome sequence of
                </div>
                <div class="journal">
                    Microbiol Resour Announc, 13(1), e0034523
                </div>
                <div class="metadata">
                    DOI: 10.1128/MRA.00345-23 | †Corresponding author
                </div>
            </div>
        </div>
    </section>

    <section class="year-section">
        <h2>2023</h2>
        <div class="publication-list">
            <div class="publication-item">
                <div class="authors">
                    Santomartino R, Averesch NJH, Bhuiyan M, Cockell CS, Colangelo J, Gumulya Y, Lehner B, Lopez-Ayala I, McMahon S, Mohanty A, Santa Maria SR, Urbaniak C, Volger R, <span class="author-highlight">Yang J</span>, Zea L
                </div>
                <div class="title">
                    Toward sustainable space exploration: a roadmap for harnessing the power of microorganisms
                </div>
                <div class="journal">
                    Nature Communications, 14(1), 1391
                </div>
                <div class="metadata">
                    DOI: 10.1038/s41467-023-37070-2 | *Authors alphabetically ordered, equally contributed | Impact Factor: 17.7
                </div>
            </div>
        </div>
    </section>

    <section class="year-section">
        <h2>2021</h2>
        <div class="publication-list">
            <div class="publication-item">
                <div class="authors">
                    <span class="author-highlight">Yang J</span>, Barrila J, Mark Ott C, King O, Bruce R, McLean RJC, Nickerson CA
                </div>
                <div class="title">
                    Longitudinal characterization of multispecies microbial populations recovered from spaceflight potable water
                </div>
                <div class="journal">
                    NPJ Biofilms Microbiomes, 7(1), 70
                </div>
                <div class="metadata">
                    DOI: 10.1038/s41522-021-00240-5 | †Corresponding author | Impact Factor: 8.462
                </div>
            </div>
        </div>
    </section>

    <div class="google-scholar">
        <p>For a complete list of publications, please visit my <a href="https://scholar.google.com/citations?user=__yH8X4AAAAJ&hl=en" target="_blank" rel="noopener noreferrer">Google Scholar profile</a>.</p>
    </div>
</div>
{% endblock %}
